# Name: Fahim Hasan
# Student ID: 22221160

# EEE385IL (MACHINE LEARNING LABORATORY)
## LAB 1: Introduction to Python

### Different Types of Data in Python
Variables can store data of different types, and different types can do different things.
Python has the following data types built-in by default:
* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Boolean Type:	bool

### Strings
A string is a series of characters, surrounded by single or double quotes

In [2]:
print("Hello World")

Hello World

In [1]:
text = "Hello world"
substring = text[0:5]  # 'hello'
print(substring)

Hello

In [3]:
msg = "Hello world!"
print(msg.split())
print(len(msg.split()))

['Hello', 'world!']
2

Concatenation (combining strings)

In [4]:
first_name = "Fahim"
last_name = 'Hasan'
full_name = first_name + ' ' + last_name
print(full_name)
print(first_name, last_name)

Fahim Hasan
Fahim Hasan

### Numeric Data

In [ ]:
x = 20	  #int
print(x, type(x))
y = 20.5	#float
print(y, type(y))
z = 1j	  #complex
print(z,type(z))

20 <class 'int'>
20.5 <class 'float'>
1j <class 'complex'>

### Getting the Data Type

In [ ]:
x = 2.00 + 3j
print(type(x))
type(x)

<class 'complex'>

complex

In [ ]:
num = 20.55489
print(format(num, ".3f"))  # Output: 20.57 #Format specifier
print(f"{num:.3f}")
print(type(num))

20.555
20.555
<class 'float'>

### Taking User Input

In [ ]:
name = input("Please input your name: ")
print("Hello " + name + "!")
print("Hello,",name,"!")

Please input your name: fahim
Hello fahim!
hello, fahim !

In [ ]:
text = "The value of the variable x is {} and y is {}".format(x, y)
text2 = f"The value of the variable x is {x} and y is {y}"
print(text)
print(text2)

The value of the variable x is (2+3j) and y is 20.5
The value of the variable x is (2+3j) and y is 20.5

### if-else statements
`if condition:`
   >  `statements if condition is TRUE`<br>

   `elif condition:` <br>
   > `statements` <br>

`else:`<br>
   >  `statements`

In [ ]:
marks = 9
if marks > 90:
  print('Congrats! A!')
elif marks > 80:
  print("Alright!")
else:
  print('Need to do better!')

Need to do better!

### Multiple Condition checking
`and` --> TRUE if both conditions are met <br>
`or` --> TRUE if any one condition is met

# TASK 1
if cg > 3.8 && credits > 30 <br>
  scholarship 10% <br>
if cg > 3.5 && credits > 30 <br>
  scholarship 5% <br>
if cg < 3.5 || credits < 30 <br>
  no scholarship

In [ ]:
#####################################
#######    Code starts      #########
cg = float(input("enter cg "))
credits = float(input("enter credits"))
if cg > 3.8 and credits > 30:
  print("scholarship 10%")
elif cg > 3.5 and credits > 30:
  print("scholarship 5%")
else:
  print("no scholarship")

#######    Code ends        #########
#####################################

enter cg 3.6
enter credits40
scholarship 5%

### Loops
### for loop
`for i in range(N):`
> `statements`

In [ ]:
for a in range(2,10,2):
  print(a)  # indexing starts from 0 in python

2
4
6
8

### while loop
`while condition:` <br>
> `statements`

In [ ]:
a = 5

while a <= 10:
  print(a)
  a = a + 1

5
6
7
8
9
10

### List (like Array in C programming)
`list_name = [val_1, val_2, val_3, .......]`

In [ ]:
marks = [88, 56, 94, 92, 76]

print(len(marks))


for n in marks:
  print("The marks of Student is {}".format(n)) #{} placeholder in python

5
The marks of Student is 88
The marks of Student is 56
The marks of Student is 94
The marks of Student is 92
The marks of Student is 76

### Common List operations

In [ ]:
marks = [88, 56, 92, 82, 94]
print("Before changing any element                --> ", marks)

marks.append(99)
print("After appending one element                --> ", marks)

marks.remove(94)
print("After removing one element                 --> ", marks)

marks.insert(-1, 71)
print("After inserting '71' at index '1'          --> ", marks)

marks.pop(2)
print("After popping out the element at index '2' --> ", marks)

Before changing any element                -->  [88, 56, 92, 82, 94]
After appending one element                -->  [88, 56, 92, 82, 94, 99]
After removing one element                 -->  [88, 56, 92, 82, 99]
After inserting '71' at index '1'          -->  [88, 56, 92, 82, 71, 99]
After popping out the element at index '2' -->  [88, 56, 82, 71, 99]