# Name: Fahim Hasan
# Student ID: 22221160

# EEE385IL (MACHINE LEARNING LABORATORY)
## LAB 2: Introduction to Python

### List in Python
Lists are used to store multiple items in a single variable. <br>
`list_name = [val_1, val_2, val_3, .......]`

### Common List operations

In [8]:
marks = [88, 56, 94, 82, 94]
# ctrl + / to comment
print("Before changing any element                --> ", marks)

marks.append(99)
print("After appending one element                --> ", marks)

marks.remove(94)
print("After removing one element                 --> ", marks)
# removes only the first instance

marks.insert(-1, 71)
print("After inserting '71' at index '1'          --> ", marks)

marks.insert(1, 71)
print("After inserting '71' at index '1'          --> ", marks)
#index 56 will be 2 now

marks.pop(2)
print("After popping out the element at index '2' --> ", marks)

del marks[2]
print("After deleting the element at index '2' -->", marks)

marks = [88, 56, 94, 82, 94]
del marks[1:3]   # Deletes elements at index 1 and 2
print(marks)
marks[-1]      # last element
marks.append(x)  # add to last position

Before changing any element                -->  [88, 56, 94, 82, 94]
After appending one element                -->  [88, 56, 94, 82, 94, 99]
After removing one element                 -->  [88, 56, 82, 94, 99]
After inserting '71' at index '1'          -->  [88, 56, 82, 94, 71, 99]
After inserting '71' at index '1'          -->  [88, 71, 56, 82, 94, 71, 99]
After popping out the element at index '2' -->  [88, 71, 82, 94, 71, 99]
After deleting the element at index '2' --> [88, 71, 94, 71, 99]
[88, 82, 94]

NameError: name 'x' is not defined

### TASK (Practice)
Create a list containing the names of the cars:
* Toyota Corolla
* Mazda RX-8
* Lamborghini Gallardo

Then insert a new car 'Mercedez Benz' at the 2nd position of the list.

In [ ]:
cars = ["Toyota Corolla", 'Mazda RX-8', 'Lamborghinni Gallardo']

In [ ]:
cars = ['Toyota Corolla', 'Mazda RX-8', 'Lamborghinni Gallardo']
print(cars)

cars.insert(1, 'Mercedes Benz')
print(cars)

for i in cars:
  print(i)

type(cars)

['Toyota Corolla', 'Mazda RX-8', 'Lamborghinni Gallardo']
['Toyota Corolla', 'Mercedes Benz', 'Mazda RX-8', 'Lamborghinni Gallardo']
Toyota Corolla
Mercedes Benz
Mazda RX-8
Lamborghinni Gallardo

list

### Tuples
Tuples in Python contain multiple values that are ordered, indexed but **unchangable**.

In [ ]:
cars = ('Toyota Corolla', 'Mazda RX-8', 'Lamborghini Gallardo')
print(cars[0])

marks = (86, 96, 78, 56)
print(marks[0])

mixed_tup = ('Toyota Corolla', 160)
print(mixed_tup)

type(cars)

Toyota Corolla
86
('Toyota Corolla', 160)

tuple

### Set
Sets in python can contain multiple values and are **unordered**, **unindexed** and **unchangable**.

In [ ]:
cars = {'Toyota Corolla', 'Mazda RX-8', 10, 0, 1, -1}
print(cars)
type(cars)

{0, 'Mazda RX-8', 1, 'Toyota Corolla', 10, -1}

set

### Dictionary in Python
Python's dictionaries allow you to connect pieces of related information. Each piece of information in a dictionary is stored as a **key-value pair**. When you provide a **key**, Python returns the **value** associated with that key. You can loop through all the key-value pairs, all the keys, or all the values.

In [9]:
cars = {'brand': ['Toyota', 'Mazda', 'Lamborghini'],
        'model': ['Corolla', 'RX-8', 'Gallardo'],
        'year': [1976, 1984, 1998]}

print(cars.items())
print(cars.keys())
print(cars.values())

for i in cars.keys():
  print(i)

m = cars['model']
print(m)

cars['speed'] = [150, 180, 220]
print(cars.items())

del cars['year']
print(cars.items())

dict_items([('brand', ['Toyota', 'Mazda', 'Lamborghini']), ('model', ['Corolla', 'RX-8', 'Gallardo']), ('year', [1976, 1984, 1998])])
dict_keys(['brand', 'model', 'year'])
dict_values([['Toyota', 'Mazda', 'Lamborghini'], ['Corolla', 'RX-8', 'Gallardo'], [1976, 1984, 1998]])
brand
model
year
['Corolla', 'RX-8', 'Gallardo']
dict_items([('brand', ['Toyota', 'Mazda', 'Lamborghini']), ('model', ['Corolla', 'RX-8', 'Gallardo']), ('year', [1976, 1984, 1998]), ('speed', [150, 180, 220])])
dict_items([('brand', ['Toyota', 'Mazda', 'Lamborghini']), ('model', ['Corolla', 'RX-8', 'Gallardo']), ('speed', [150, 180, 220])])

# TASK-1
Create a dictionary with the "key"s as "ID", "Name", "credits" and input the corresponding information of three students. <br>
Append another "key" named "cgpa" after that.

In [12]:
#############################
###### code starts here #####
student = {'ID':[22221160, 22221161, 222221162],
           'Name':['Fahim', 'Hasan', 'Dhrubo'],'credits':[110,36,112]}
print(student.items())
print(student.keys())
print(student.values())
student['cgpa'] = [3.69, 3.3, 3.9]
print(student.items())
print(student.keys())
print(student.values())
####### code ends here ######
#############################

dict_items([('ID', [22221160, 22221161, 222221162]), ('Name', ['Fahim', 'Hasan', 'Dhrubo']), ('credits', [110, 36, 112])])
dict_keys(['ID', 'Name', 'credits'])
dict_values([[22221160, 22221161, 222221162], ['Fahim', 'Hasan', 'Dhrubo'], [110, 36, 112]])
dict_items([('ID', [22221160, 22221161, 222221162]), ('Name', ['Fahim', 'Hasan', 'Dhrubo']), ('credits', [110, 36, 112]), ('cgpa', [3.69, 3.3, 3.9])])
dict_keys(['ID', 'Name', 'credits', 'cgpa'])
dict_values([[22221160, 22221161, 222221162], ['Fahim', 'Hasan', 'Dhrubo'], [110, 36, 112], [3.69, 3.3, 3.9]])

### Function

`def function_name(input_args):`
>`statements`<br>
> `return output_var`

In [ ]:
def easy_calc_add(n1, n2):
  x = n1+n2
  return x

In [ ]:
a = 5.8
b = 10
result = easy_calc_add(a, b)
print(result)

15.8

In [ ]:
def welcome_msg(names):
  for i in names:
    print("Welcome {}!!".format(i))

In [ ]:
names = ['ABC', 'XYZ', 'PQR']
welcome_msg(names)

Welcome ABC!!
Welcome XYZ!!
Welcome PQR!!

In [ ]:
import math
def easy_calc_log(n1, eps = 0.001):
  if n1 < 0:
    print("MATH ERROR! Log is not defined for negative numbers!")
    return

  return math.log10(n1 + eps)

In [ ]:
number = 20
print(easy_calc_log(number))

1.3010517098452263

In [ ]:
import math

def calc_log10(n):
  if n > 0:
    return math.log10(n)
  else:
    print("UNDEFINED!!")

In [ ]:
x = 10
print(calc_log10(x))

1.0

In [ ]:
def std_info(ID, name = 'BracUian'):
  print("Welcome! {}: {}!".format(ID, name))

In [ ]:
id = 28321087
std_info(id)

Welcome! 28321087: BracUian!

# TASK-2
Write a function in Python to determine whether a number is Armstrong or not.

In [46]:
#############################
###### code starts here (modification)#####
import math

def isarmstrong(n):
  m = n
  sum = 0
  p = 0
  digits = []
  while 1:
    dig = n % 10
    digits.append(dig)
    n = int(n / 10)
    p = p + 1
    if n == 0:
      break
  # print(digits)
  # print(p)
  for d in digits:
    sum = sum + math.pow(d , p)
  if sum == m:
    print("ARMSTRONG number!!")
  else:
    print("NOT a Armstrong number!")


####### code ends here ######
#############################

In [49]:
isarmstrong(134)

NOT a Armstrong number!